1. "./train_features.csv" was transformed into "./data_p.csv"
18995 rows × 433 columns. 
(433 = 12*36 +1) , which means (12h* 36parameters + pid)
Every row is for one patient.

2. Missing data rate was calculated and stored in:
missing
miss_analy
data_miss
"./data_miss.csv"

In [1]:
import pandas as pd
import numpy as np
import sklearn

# 1. Raw data exporation

In [2]:
path = "./train_features.csv"

data = pd.read_csv(path)

In [3]:
data.describe()

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
count,227940.000000,227940.000000,227940.000000,9783.000000,10299.000000,20105.000000,10756.000000,81115.000000,22295.000000,12559.00000,...,5708.000000,195192.000000,719.000000,13917.000000,27297.000000,200128.000000,5326.000000,3776.000000,191650.000000,25046.000000
mean,15788.831219,7.014399,62.073809,32.883114,40.091310,23.192664,2.859716,36.852136,10.628208,23.48810,...,97.796163,97.663449,1.390723,106.260185,31.283090,84.522371,1.640941,7.269240,122.369877,7.367231
std,9151.896286,4.716103,16.451854,7.802065,26.034961,20.024289,2.428368,0.875152,2.074859,4.40378,...,122.773379,2.786186,2.792722,5.916082,5.770425,17.643437,3.244145,25.172442,23.273834,0.074384
min,1.000000,1.000000,15.000000,10.000000,12.500000,1.000000,0.200000,21.000000,3.300000,0.00000,...,12.000000,20.000000,0.010000,66.000000,9.400000,23.000000,0.100000,0.010000,21.000000,6.820000
25%,7879.000000,4.000000,52.000000,28.500000,27.800000,12.000000,1.400000,36.000000,9.200000,21.00000,...,53.000000,96.000000,0.100000,103.000000,27.300000,72.000000,0.500000,0.030000,105.000000,7.330000
50%,15726.000000,7.000000,64.000000,33.000000,32.200000,17.000000,2.100000,37.000000,10.500000,23.90000,...,72.000000,98.000000,0.300000,107.000000,30.900000,83.000000,0.800000,0.150000,119.000000,7.370000
75%,23725.000000,10.000000,74.000000,38.000000,40.600000,27.000000,3.400000,37.000000,12.000000,26.00000,...,104.000000,100.000000,1.210000,110.000000,35.000000,95.000000,1.400000,2.050000,137.000000,7.410000
max,31658.000000,315.000000,100.000000,100.000000,250.000000,268.000000,31.000000,42.000000,23.800000,50.00000,...,3833.000000,100.000000,21.200000,141.000000,63.400000,191.000000,46.500000,440.000000,287.000000,7.780000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227940 entries, 0 to 227939
Data columns (total 37 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   pid               227940 non-null  int64
 1   Time              227940 non-null  int64
 2   Age               227940 non-null  float64
 3   EtCO2             9783 non-null    float64
 4   PTT               10299 non-null   float64
 5   BUN               20105 non-null   float64
 6   Lactate           10756 non-null   float64
 7   Temp              81115 non-null   float64
 8   Hgb               22295 non-null   float64
 9   HCO3              12559 non-null   float64
 10  BaseExcess        19887 non-null   float64
 11  RRate             187785 non-null  float64
 12  Fibrinogen        2493 non-null    float64
 13  Phosphate         11590 non-null   float64
 14  WBC               19083 non-null   float64
 15  Creatinine        17792 non-null   float64
 16  PaCO2             21043 non-null   float64
 17  AST               5761 non-null    float64
 18  FiO2              26602 non-null   float64
 19  Platelets         18035 non-null   float64
 20  SaO2              13014 non-null   float64
 21  Glucose           47036 non-null   float64
 22  ABPm              195889 non-null  float64
 23  Magnesium         17523 non-null   float64
 24  Potassium         28393 non-null   float64
 25  ABPd              152418 non-null  float64
 26  Calcium           17830 non-null   float64
 27  Alkalinephos      5708 non-null    float64
 28  SpO2              195192 non-null  float64
 29  Bilirubin_direct  719 non-null     float64
 30  Chloride          13917 non-null   float64
 31  Hct               27297 non-null   float64
 32  Heartrate         200128 non-null  float64
 33  Bilirubin_total   5326 non-null    float64
 34  TroponinI         3776 non-null    float64
 35  ABPs              191650 non-null  float64
 36  pH                25046 non-null   float64
dtypes: float64(35), int64(2)
memory usage: 64.3 MB

In [5]:
# number
missing=data.isnull().sum().reset_index().rename(columns={0:'missNum'})
# percentage
missing['missRate']=missing['missNum']/data.shape[0]
# order
miss_analy=missing[missing.missRate>0].sort_values(by='missRate',ascending=False)

In [127]:
miss_analy

               index  missNum  missRate
29  Bilirubin_direct   227221  0.996846
12        Fibrinogen   225447  0.989063
34         TroponinI   224164  0.983434
33   Bilirubin_total   222614  0.976634
27      Alkalinephos   222232  0.974958
17               AST   222179  0.974726
3              EtCO2   218157  0.957081
4                PTT   217641  0.954817
6            Lactate   217184  0.952812
13         Phosphate   216350  0.949153
9               HCO3   215381  0.944902
20              SaO2   214926  0.942906
30          Chloride   214023  0.938944
23         Magnesium   210417  0.923125
15        Creatinine   210148  0.921944
26           Calcium   210110  0.921778
19         Platelets   209905  0.920878
14               WBC   208857  0.916281
10        BaseExcess   208053  0.912753
5                BUN   207835  0.911797
16             PaCO2   206897  0.907682
8                Hgb   205645  0.902189
36                pH   202894  0.890120
18              FiO2   201338  0.883294
31               Hct   200643  0.880245
24         Potassium   199547  0.875437
21           Glucose   180904  0.793647
7               Temp   146825  0.644139
25              ABPd    75522  0.331324
11             RRate    40155  0.176165
35              ABPs    36290  0.159209
28              SpO2    32748  0.143669
22              ABPm    32051  0.140612
32         Heartrate    27812  0.122015

In [6]:
data = data.sort_values(by=["pid","Time"])

# 2. Transform into new format: one row for each patient

In [37]:
data_1hours = []
data_p = pd.DataFrame()
for i in range(12):
    id_ith = range(i,len(data),12)
    data_1hour = data.iloc[id_ith]
    columns = data_1hour.columns
    columns_new = ["pid"]
    for j in range(1,len(columns)):
        col_new = columns[j] + "-" + str(i)
        columns_new.append(col_new)
    
    data_1hour.columns = columns_new
    
    data_1hours.append(data_1hour)
    
    if data_p.empty:
        data_p = data_1hour
    else:
        data_p = pd.merge(data_p,data_1hour,how="inner",on="pid")

In [38]:
# every row is for one patient
# data_p = pd.merge(data_1hours[0],data_1hours[1],how="inner",on="pid")

In [116]:
data_p

,pid,Time-0,Age-0,EtCO2-0,PTT-0,BUN-0,Lactate-0,Temp-0,Hgb-0,HCO3-0,...,Alkalinephos-11,SpO2-11,Bilirubin_direct-11,Chloride-11,Hct-11,Heartrate-11,Bilirubin_total-11,TroponinI-11,ABPs-11,pH-11
0,1,3,34.0,NaN,NaN,12.0,NaN,36.0,8.7,24.0,...,NaN,100.0,NaN,NaN,22.2,69.0,NaN,NaN,102.0,NaN
1,2,1,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,94.0,NaN,NaN,NaN,59.0,NaN,NaN,136.0,NaN
2,4,1,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,97.0,NaN,NaN,NaN,72.0,NaN,NaN,96.0,NaN
3,6,2,66.0,NaN,53.8,32.0,NaN,35.0,10.6,20.0,...,NaN,98.0,NaN,NaN,27.4,90.0,NaN,NaN,98.0,NaN
4,8,1,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,98.0,NaN,NaN,NaN,81.0,NaN,NaN,204.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18990,31653,1,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,93.0,NaN,NaN,NaN,148.0,NaN,NaN,NaN,NaN
18991,31654,1,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,97.0,NaN,NaN,NaN,90.0,NaN,NaN,153.0,NaN
18992,31656,1,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18993,31657,1,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,NaN,63.0,NaN,NaN,106.0,NaN
18994,31658,1,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,96.0,NaN,NaN,NaN,71.0,NaN,NaN,135.0,NaN

In [117]:
# write into csv
data_p_path = "./data_p.csv"
data_p.to_csv(data_p_path, header=True, index=False)

In [40]:
# number
missing_p =data_p.isnull().sum().reset_index().rename(columns={0:'missNum'})
# percentage
missing_p['missRate']=missing_p['missNum']/data_p.shape[0]
# order
miss_analy_p=missing_p[missing_p.missRate>0].sort_values(by='missRate',ascending=False)

In [44]:
missing_p = missing_p.loc[:,['index','missRate'] ]

In [98]:
data_miss = pd.DataFrame()
for i in range(12):
    id_ith = range(36*i+1,36*(i+1))
    miss_1hour = missing_p.iloc[id_ith]
    columns = missing_p.columns
    columns_new = ["index"]
    col_new = columns[1] + "-" + str(i)
    columns_new.append(col_new)
    
    miss_1hour.columns = columns_new
    miss_1hour = miss_1hour.reset_index(drop=True)
    
    if data_miss.empty:
        data_miss = miss_1hour
    else:
        data_miss = pd.merge(data_miss,miss_1hour,left_index=True,right_index=True)

In [109]:
col_id = [0,1,3,5,7,9,11,13,15,17,19,21,23]

In [104]:
# col_id = [0]
# col_id.append(range(1,24,2))

In [110]:
data_miss = data_miss.iloc[:,col_id]

In [114]:
data_miss = data_miss.set_index("index_x")

In [120]:
data_miss_path = "./data_miss.csv"
data_miss.to_csv(data_miss_path, header=True, index=True)

In [118]:
data_miss

# "RRate", "ABPd", "SpO2", "Heartrate", "ABPs" : there are many missing data except first hour.
# So maybe we should only use these parameter-0 as feature

# For other parameters, missing rateis basically a constant over 12 hours

,missRate-0,missRate-1,missRate-2,missRate-3,missRate-4,missRate-5,missRate-6,missRate-7,missRate-8,missRate-9,missRate-10,missRate-11
index_x,,,,,,,,,,,,
Time-0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Age-0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
EtCO2-0,0.993367,0.950513,0.950197,0.950197,0.951250,0.951882,0.954356,0.955830,0.956199,0.956673,0.956831,0.957673
PTT-0,0.938036,0.903238,0.951566,0.961200,0.963675,0.962569,0.961306,0.961885,0.961358,0.964675,0.961779,0.966518
BUN-0,0.917347,0.835641,0.912398,0.930982,0.931719,0.925928,0.921611,0.915662,0.912714,0.916715,0.907660,0.913188
Lactate-0,0.966781,0.921769,0.937773,0.939563,0.947670,0.950724,0.955778,0.956252,0.959989,0.962727,0.966781,0.967939
Temp-0,0.829166,0.660858,0.633851,0.614583,0.612424,0.618636,0.626639,0.623796,0.620637,0.625165,0.632114,0.631798
Hgb-0,0.906923,0.830903,0.902659,0.917452,0.917715,0.912029,0.909608,0.905870,0.905554,0.908555,0.900605,0.908397
HCO3-0,0.923138,0.897447,0.950882,0.961148,0.958463,0.955041,0.952251,0.948829,0.947407,0.949829,0.945143,0.949250
BaseExcess-0,0.917452,0.863490,0.894393,0.893024,0.898342,0.908292,0.913714,0.920716,0.930403,0.933930,0.937194,0.942090
RRate-0,0.796894,0.114504,0.119137,0.120821,0.118558,0.119926,0.119347,0.123559,0.116346,0.118452,0.121190,0.125243
Fibrinogen-0,0.984417,0.980363,0.988787,0.989050,0.991156,0.989839,0.988681,0.989366,0.990629,0.991893,0.991840,0.992735
Phosphate-0,0.977310,0.914346,0.944775,0.957094,0.956568,0.951145,0.949513,0.946618,0.945038,0.949250,0.946144,0.952040
WBC-0,0.923190,0.846539,0.916557,0.932772,0.934720,0.928086,0.923559,0.921032,0.917083,0.920453,0.912503,0.918873
Creatinine-0,0.937299,0.860332,0.922085,0.936668,0.937773,0.931666,0.928665,0.924349,0.921611,0.924770,0.915662,0.922453
PaCO2-0,0.921453,0.845486,0.881916,0.880653,0.894446,0.902659,0.912082,0.920084,0.927507,0.930771,0.935931,0.939195
AST-0,0.989260,0.935562,0.963464,0.976099,0.979942,0.978205,0.978099,0.977520,0.976573,0.981153,0.978731,0.982101
FiO2-0,0.888655,0.822216,0.861595,0.856173,0.870861,0.884759,0.891340,0.893130,0.903606,0.905133,0.911135,0.910924
Platelets-0,0.932193,0.858015,0.921664,0.932087,0.935825,0.929034,0.926086,0.925665,0.922032,0.925665,0.917294,0.924980
SaO2-0,0.968307,0.914925,0.923454,0.922717,0.927139,0.937141,0.944354,0.949460,0.952724,0.955093,0.959305,0.960253
Glucose-0,0.911135,0.724454,0.777362,0.785575,0.787102,0.784417,0.783890,0.790734,0.789681,0.794999,0.790313,0.804106
ABPm-0,0.793735,0.071808,0.075072,0.080916,0.079758,0.082759,0.081706,0.084075,0.080021,0.082917,0.084338,0.090234
Magnesium-0,0.963938,0.876178,0.920611,0.934193,0.933456,0.927455,0.923401,0.919610,0.918084,0.921348,0.917189,0.922032
Potassium-0,0.916926,0.794262,0.869860,0.880653,0.881653,0.875915,0.873282,0.876546,0.877547,0.886549,0.882285,0.889760
ABPd-0,0.854067,0.298078,0.293393,0.290445,0.285338,0.284970,0.281179,0.281969,0.275230,0.276810,0.275915,0.278494
Calcium-0,0.969834,0.862016,0.907660,0.923559,0.928402,0.924822,0.926033,0.921664,0.921137,0.925665,0.922085,0.928455
Alkalinephos-0,0.989366,0.935878,0.963622,0.976046,0.980100,0.978573,0.978310,0.977678,0.976994,0.981679,0.979100,0.982153
SpO2-0,0.794683,0.071492,0.078126,0.082232,0.082390,0.084601,0.084970,0.087444,0.084601,0.087339,0.092445,0.093709
Bilirubin_direct-0,0.998737,0.990892,0.995262,0.997157,0.997684,0.996947,0.996736,0.996736,0.997684,0.998473,0.997842,0.997999
Chloride-0,0.920663,0.886339,0.945091,0.954514,0.951935,0.946196,0.943459,0.942564,0.942722,0.945565,0.941458,0.946828
Hct-0,0.899395,0.812319,0.886549,0.894288,0.888813,0.875178,0.874335,0.880548,0.885601,0.889339,0.884759,0.891814
Heartrate-0,0.788523,0.051645,0.057752,0.059805,0.059911,0.062227,0.061490,0.064859,0.059437,0.062648,0.067123,0.068755
Bilirubin_total-0,0.991366,0.940037,0.965833,0.977205,0.980784,0.979995,0.979942,0.979574,0.978889,0.982680,0.979995,0.983311
TroponinI-0,0.997894,0.963727,0.974467,0.980153,0.983680,0.984417,0.985838,0.984522,0.984470,0.986786,0.987207,0.988049
ABPs-0,0.809108,0.098342,0.099079,0.101448,0.098658,0.101658,0.099131,0.101974,0.095920,0.099395,0.100500,0.105291